<!DOCTYPE html>
<html lang="ko">
    <head>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">
        <title>Simple Login Page</title>
        <script src="/js/home/login.js" defer></script>
    </head>
    <body>
        <input id="id" type="text" placeholder="아이디"><br>
        <input id="password" type="text" placeholder="비밀번호"><br>
        <button id="loginBtn">로그인</button>
    </body>
</html>