<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale="1.0">

        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
        <link rel="stylesheet" href="/css/home/register.css">

        <title>Simple Login Page</title>
        <script src="/js/home/register.js" defer></script>
    </head>
    <div class="login-page">
        <div class="form">
          <form class="register-form">
            <input id="id" type="text" placeholder="username"/>
            <input id="name" type="text" placeholder="nickname"/>
            <input id="password" type="password" placeholder="password"/>
            <input id="confirm-password" type="password" placeholder="verify password"/>
            <button type="button" id="createBtn">create</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
          </form>
        </div>
      </div>
</html>

<!-- Copyright (c) 2023 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->